asgiref==3.10.0
click==8.3.0
Django==5.2.7
django-cors-headers==4.9.0
djangorestframework==3.16.1
joblib==1.5.2
nltk==3.9.2
numpy==2.3.4
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.9.18
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
tzdata==2025.2
